@charset "UTF-8";

#rotate_title{
	color:#2b5787;
	transform:rotate(-20deg);
	width: 300px;
    margin-top: 50px;	
}

.btn{
	color:white;
	width:70px;
	padding:7px 20px 7px 20px;
	font-size:14px;
	background-color:#3fc8ff;	
	padding:3px, 10px, 3px, 10px;
	float: right;
	margin-right:20px;
	
}

header {
	clear:left;
}

form{
	overflow:hidden;
}

.center{
	margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
    text-align:left;
}

h1{
	text-align:center;
}